/* Neden ziyaret etmelisiniz ve katılımcı profilinin ortak css dosyası */

:root {
  --primarycolor: #46b6d7;
  --secondarycolor: #85837D;
  --thirdcolor: #0c243d;
}


.container-nze {
    min-height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    color: #000;
}

.card-grid-nze {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-nze {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 180px;
}

.icon-nze {
    font-size: 28px;
    color: #1a3b5d;
    margin-bottom: 15px;
}

.card-text-nze {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

/* Responsive tasarım */

@media (max-width: 992px) {
    .card-grid-nze {
        grid-template-columns: repeat(2, 1fr);
    }
}



.container-kp {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-kp {
  text-align: center;
  margin-bottom: 40px;
}

.h1-ziyaretci {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #000000;
}


.header-kp h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.header-kp p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.4;
}

.grid-kp {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 30px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  transition: background-color 0.3s;
}

.grid-item:hover {
  background-color: rgba(0, 0, 0, 1);
}

.icon-kp {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  color: #fff;
}

.grid-item p {
  font-size: 0.9rem;
  line-height: 1.3;
  color: #fff;
}

.background-image-kp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}


/* Responsive design */
@media (max-width: 1024px) {
  .grid-kp {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-kp {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-kp h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .grid-kp {
    grid-template-columns: 1fr;
  }

  .header-kp h1 {
    font-size: 2rem;
  }

  .header-kp p {
    font-size: 1rem;
  }
}


.fuar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  max-width: 100%;
  background-color: #000;
  color: #fff;
  margin-top: 26px;
}

.fuar-left {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
}

.fuar-image {
  max-width: 82%;
  height: auto;
}

.fuar-right {
  flex: 1 1 55%;
}

.subtitle-3 {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
}

.fuar-right h1 {
  font-size: 2.1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.intro {
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: start;
}

.benefits {
  list-style: none;
  margin-bottom: 1.5rem;
}

.benefits li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  text-align: start;
}

.btn-kp {
  display: inline-block;
  background-color: var(--primarycolor);
  color: var(--thirdcolor);
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: start;
}

.btn-kp:hover {
  background-color: #ffd519;
}

/* Responsive */
@media (max-width: 768px) {
  .fuar-container {
    flex-direction: column;
    text-align: center;
  }

  .fuar-left,
  .fuar-right {
    flex: 1 1 100%;
  }

  .fuar-right h1 {
    font-size: 2rem;
  }
}


